@import '../../styles/variables.scss';

.container {
    background-color: $light-grey;
    box-sizing: border-box;
    max-height: 100% !important;

    .head_part {
        display: flex;
        gap: 20px;
        width: 100%;

        h2 {
            font-size: 1.75rem;
        }

        button {
            border: 1px solid black;
            border-radius: 0.25rem;
            padding: 0.3rem;
            transition: .4s;
            padding-right: 10px;
            padding-left: 10px;

            &:hover {
                background-color: black;
                color: white
            }
        }
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        margin-top: 20px;
        max-height: 80vh;
    }

    .row {
        display: grid;
        column-gap: 10px;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
    }

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
    };

    .video_container {
        height: 50%;
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .video {
        height: 105%;
        transform: translateY(-10px);
    }

    .play_container {
        position: absolute;
        top: 50%;
        left: 48%;
        z-index: 10;
    }

    .play {    
        height: 30px;
        width: 30px;
    }

    .track {
        display: flex;
        flex-direction: column;
        border: 3px solid $light-grey;
        padding: 10px;
    }

    .track_row {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .chat {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 10px;
        overflow-y: auto;
    }

    .send {
        display: flex;
        width: 100%;
        gap: 10px;
        overflow-x: hidden;
    }

    .message {
        background-color: $purple;
        padding: 5px;
        border-radius: 10px;
        color: white;
        width: fit-content;
        align-self: flex-end;
    }

    .rotate {
        transform: rotate(90deg);
    }
}