.search_wrapper {
    padding-top: 1.5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    // padding: 2rem;

    .logo {
        width: 53px;
        height: 100%;
        border-radius: 5px;
    }
}